<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Caso - Área</title>
</head>
<body>
<form action="/comunidade/" method="post">{% csrf_token %}
    <table>
        <tr>
            <th rowspan=1>Cadastro de Comunidade</th>
        </tr>
        <tr>
            <td>Nome</td>
            <td>Bairro</td>
        </tr>
        <tr>
            <td><input type="text" name="nome_comu"></td>
            <td><input type="text" name="bairro"></td>
        </tr>
        <tr>
            <td>Cidade</td>
            <td>Estado</td>
        </tr>
        <tr>
            <td><input type="text" name="cidade"></td>
            <td><input type="text" name="estado"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Cadastrar"></td>
            <td><input type="reset" value="Apagar"></td>
        </tr>
    </table>
</form>
</body>
</html>