<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Casos</title>
</head>
<body>
<form action="/comparacao/" method="post">{% csrf_token %}
<h1>Cadastro de Casos</h1>

{% if objetos %}
    Objetos <br>
    <select name="objeto1">
    <option>----------</option>
    {% for objeto in objetos %}
        <option value="{{ objeto.nome }}"> {{ objeto.nome }} </option>
    {% endfor %}
    </select>
{% endif %}
<br><br>

{% if relacoes %}
    Relação <br>
    <select name="relacao">
    <option>----------</option>
    {% for relacao in relacoes %}
        <option value="{{ relacao.nome }}"> {{ relacao.nome }} </option>
    {% endfor %}
    </select>
{% endif %}
<br><br>

{% if objetos %}
    Objetos <br>
    <select name="objeto2">
    <option>----------</option>
    {% for objeto in objetos %}
        <option value="{{ objeto.nome }}"> {{ objeto.nome }} </option>
    {% endfor %}
    </select>
{% endif %}
<br><br>
Distância<br><input type="text" name="distancia">
<br><br>

<input type="submit" value="Cadastrar">
<input type="reset" value="Apagar">
</body>
</html>