{% extends 'base.html' %}

{% block body_block %}

    <div class="ui centered row">
        <div class="ui segment issem-cad">
            <a  href="{% url 'index' %}"><i class="big arrow circle left icon green"></i></a>
            <h1> Cadastro Comunidade </h1>
            <form class="ui form" action="/CadComunidade/" method="post">
                {% csrf_token %}

                <div class="fields">
                    {#começa#}
                    <div class="five wide field"></div>
                    <div class="six wide field">
                        <label>Nome</label>
                        {{ form.nome }}
                        {% if form.nome.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.nome.errors }}
                            </div>
                        {% endif %}
                    </div>

                    {#termina#}
                    {#começa#}

                    <div class="six wide field">
                        <label>Bairro</label>
                        {{ form.bairro }}
                        {% if form.bairro.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.bairro.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="five wide field"></div>
                    {#termina#}
                </div>

                <div class="fields" >
                    {#começa#}
                    <div class="five wide field"></div>
                    <div class="six wide field">
                        <label>cidade</label>
                        {{ form.cidade }}
                        {% if form.cidade.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.cidade.errors }}
                            </div>
                        {% endif %}
                    </div>
                    {#termina#}
                    {#começa#}
                    <div class="six wide field">
                        <label>estado</label>
                        {{ form.estado }}
                        {% if form.estado.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.estado.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="five wide field"></div>
                    {#termina#}
                </div>


                {% include 'blocos/buttons_form.html' %}
            </form>
        </div>
    </div>

{% endblock %}

