{% extends 'base.html' %}
{% block body_block %}

    <div class="ui centered row">
        <div class="ui segment issem-cad">
            <a  href="{% url 'index' %}"><i class="big arrow circle left icon green"></i></a>
            <h1>  </h1>
            <form class="ui form" action="/ComparacaoHist/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                 <div class="ui three column grid">
                    {#começa#}
                        {% for hist in historico %}
                     <script type="text/javascript" >
                         $(document).ready(function () {
                             $('.ui.modal.{{ hist.id }}')
                                 .modal('setting', 'closable', true)
                                 .modal('attach events', '.column.lista.{{ hist.id }}', 'show')
                                 .modal('attach events', '.ui.button.ok', 'hide');
                         })
                     </script>
                         <!-- MODAL -->
                         <div class="ui modal {{ hist.id }}">
                             <i class="close icon"></i>
                             <div class="header">
                                 Comunidade: {{ hist.imagem.comunidade.nome }} <br>
                                 {{ hist.imagem.comunidade.bairro }} - {{ hist.imagem.comunidade.cidade }} - {{ hist.imagem.comunidade.estado }}
                             </div>
                             <div class="image content">
                                 <div class="image">
                                     <img src="{{ hist.imagem.img.url }}" width="500"><br>
                                 </div>
                                 <div class="description">

                                     {{ hist.data }}<br>
                                     {{ hist.objeto1 }} {{ hist.relacao }} {{ hist.objeto2 }}<br>
                                     Distância: {{ hist.distancia }}<br>
                                     Plano de Ação: {{ hist.plano_acao }}
                                 </div>
                             </div>
                             <div class="actions">
                                 <div class="ui button ok">OK</div>
                             </div>
                     </div>





                    <!-- LISTA -->

                            <div class="column lista {{ hist.id }}">
                                <div class="ui segment">
                                <img src="{{ hist.imagem.img.url }}" width="300" height="300"><br>
                                    {{ hist.imagem.comunidade.nome }}<br>
                                    {{ hist.data }}
                                    </div>
                            </div>
                        {% endfor %}
                    {#termina#}
                 </div>

            </form>
        </div>
    </div>

{% endblock %}


